.endgame__word {
  margin: 0 0 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 38px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  text-shadow: 0px 0px 30px rgba(0, 0, 0, 1);
  color: #fff;
  border-bottom: 3px solid #931bf1;
}

@media screen and (max-width: 600px) {
  .endgame__word {
    font-size: calc(24px + 14 * ((100vw - 400px) / 200));
  }
}

@media screen and (max-width: 400px) {
  .endgame__word {
    font-size: 24px;
  }
}