.keyboard__wrapper {
  display: flex;
  margin: 0 auto 8px;
}

.keyboard__wrapper:last-of-type {
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .keyboard__wrapper {
    margin-bottom: calc(6px + 2 * ((100vw - 400px) / 200));
  }
}

@media screen and (max-width: 400px) {
  .keyboard__wrapper {
    margin: 0 auto 6px;
  }
}