.page {
  --colorMainDark: #080a0c;
  --colorMainLight: #fcfff0;
  --colorMainCrazy: #721077;
  --colorBackDark: #212932;
  --colorElemDark: #fff;
  --colorBackLight: #c0cfd1;
  --colorElemLight: #1e1b1f;
  --colorBackCrazy: #556414;
  --colorElemCrazy: #6b74cf;
  --colorGoldenDark: #ffb904;
  --colorGoldenLight: #ff7d04;
  --colorGoldenCrazy: #04ff2e;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: black;
}
