.keyboard__button {
  display: block;
  box-sizing: border-box;
  width: 62px;
  height: 62px;
  margin: 0 8px 0 0;
  font-family: 'Russo One', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 2px;
  outline: none;
  padding: 12px;
  opacity: 1;
  transition: color .3s linear, border .3s linear, opacity .3s linear;
}

.keyboard__button:last-of-type {
  margin-right: 0;
}

.keyboard__button:hover {
  cursor: pointer;
  color: #ffb904;
  border: 1px solid #ffb904;
}

@media screen and (max-width: 600px) {
  .keyboard__button {
    margin-right: calc(6px + 2 * ((100vw - 320px) / 280));
    width: calc(34px + 28 * ((100vw - 320px) / 280));
    height: calc(34px + 28 * ((100vw - 320px) / 280));
    font-size: calc(20px + 16 * ((100vw - 320px) / 280));
    padding: calc(7px + 5 * ((100vw - 320px) / 280));
  }
}

@media screen and (max-width: 320px) {
  .keyboard__button {
    margin: 0 6px 0 0;
    width: 34px;
    height: 34px;
    font-size: 20px;
    padding: 7px;
  }
}
