.keyboard__button {
  display: block;
  box-sizing: border-box;
  font-family: 'Russo One', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  background-color: transparent;
  border: 1px solid;
  border-radius: 2px;
  padding: 12px;
  opacity: 1;
  transition: color .3s linear, border .3s linear, opacity .3s linear;
}


@media screen and (max-width: 600px) {
  .keyboard__button {
    font-size: calc(20px + 16 * ((100vw - 320px) / 280));
    padding: calc(8px + 4 * ((100vw - 320px) / 280));;
  }
}

@media screen and (max-width: 320px) {
  .keyboard__button {
    font-size: 20px;
    padding: 8px;
  }
}