.game-area__subheading {
  margin: 0;
  font-family: 'Russo One', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  color: #fff;
}