.settings__save-button {
    width: 200px;
    height: 50px;
    background: transparent;
    border: none;
    outline-style: none;
    margin: 100px 0 0 0;
    font-family: 'Russo One', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 1;
    text-align: center;
    letter-spacing: 1px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    transition: color .3s linear;
}

.settings__save-button:hover {
    color: rgb(1, 170, 170);
    cursor: pointer;
}