.main-menu__button {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 1;
  text-align: center;
  letter-spacing: 1px;
  color: var(--colorTextPrimary);
  text-transform: uppercase;
  text-decoration: none;
  background-color: transparent;
  border: none;
  outline: none;
  transition: color .3s linear;
}

.main-menu__button:hover {
  color: var(--colorTextSecondary);
  cursor: pointer;
}

