.game-area__hint {
  position: relative;
  z-index: 201;
  margin: 0;
  font-family: 'Russo One', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  color: #ffb904;
  background-color: transparent;
  border: none;
  padding: 0;
  transition: all .3s linear;
}

.game-area__hint:hover {
  cursor: pointer;
  color: #931bf1;
}

@media screen and (max-width: 600px) {
  .game-area__hint {
    font-size: calc(16px + 8 * ((100vw - 320px) / 280));
  }
}

@media screen and (max-width: 320px) {
  .game-area__hint {
    font-size: 16px;
    top: -9px;
  }
}