.game-area__letter-container {
  max-width: 32px;
  width: 100%;
  height: 35px;
  margin-right: 3px;
  border-bottom: 3px solid #fff;
}

.game-area__letter-container:last-of-type {
  margin-right: 0;
}