.main-heading {
  margin: 0 auto;
  font-family: 'Russo One', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 74px;
  line-height: 1;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  .main-heading {
    font-size: calc(46px + 28 * ((100vw - 320px) / 280));
  }
}

@media screen and (max-width: 320px) {
  .main-heading {
    font-size: 46px;
  }
}
