.main-heading {
  margin: 0 auto;
  font-style: normal;
  font-weight: normal;
  font-size: 74px;
  line-height: 1;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media screen and (max-width: 600px) {
  .main-heading {
    font-size: calc(48px + 26 * ((100vw - 400px) / 200));
  }
}

@media screen and (max-width: 400px) {
  .main-heading {
    font-size: 48px;
  }
}
