.settings {
    margin: 0 auto 20px;
    
  }
  
  @media screen and (max-width: 600px) {
    .settings {
      margin-bottom: calc(10px + 10 * ((100vw - 320px) / 280));
    }
  }
  
  @media screen and (max-width: 320px) {
    .settings {
      margin-bottom: 10px;
    }
  }
  
  .settings:last-of-type {
    margin: 0 auto;
    border-bottom: none;
  }