.leaderboard__cup {
  position: absolute;
  top: -2px;
  left: -32px;
  z-index: 1;
  display: block;
  width: 35px;
  height: 38px;
  background-image: url(../../../images/leaderboard-cup.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}