.game-area__score {
  text-align: center;
  margin: 0 0 55px;
  grid-column: 3 / 4;
}

@media screen and (max-width: 600px) {
  .game-area__score {
    margin-bottom: calc(26px + 29 * ((100vw - 400px) / 200));
  }
}

@media screen and (max-width: 400px) {
  .game-area__score {
    margin-bottom: 26px;
  }
}