.main-menu__blob {
  position: absolute;
  top: 48px;
  right: -22px;
  width: 100%;
  height: 370px;
  max-width: 472px;
  background-image: url(../../../images/main-menu-blob.svg);
  background-repeat: no-repeat;
  background-size: contain;
  transition: all .3s linear;
}

@media screen and (max-width: 600px) {
  .main-menu__blob {
    right: 0;
  }
}

@media screen and (max-width: 320px) {
  .main-menu__blob {
    right: -45px;
    height: 228px;
  }
}
