.levels__list-item {
  margin: 0 auto;
  margin-bottom: 35px;
}

@media screen and (max-width: 600px) {
  .levels__list-item {
    margin-bottom: calc(30px + 5 * ((100vw - 400px) / 200));
  }
}

@media screen and (max-width: 400px) {
  .levels__list-item {
    margin-bottom: 30px;
  }
}

.levels__list-item:last-of-type {
  margin: 0 auto;
}
