.leaderboard__username_leader::before {
  content: '';
  position: absolute;
  top: -4px;
  left: -32px;
  z-index: 1;
  display: block;
  width: 35px;
  height: 38px;
  background-image: url(../../../../images/leaderboard-cup.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: all .3s linear;
}

@media screen and (max-width: 600px) {
  .leaderboard__username_leader::before {
    width: 29px;
    top: -5px;
    left: -18px;
  }
}

@media screen and (max-width: 520px) {
  .leaderboard__username_leader::before {
    width: 23px;
    top: -9px;
    left: -12px;
  }
}