.rules__container {
  margin: 0 auto 20px;
  border-bottom: 2px solid var(--colorTextTertiary);
}

@media screen and (max-width: 600px) {
  .rules__container {
    margin-bottom: calc(15px + 5 * ((100vw - 400px) / 200));
  }
}

@media screen and (max-width: 400px) {
  .rules__container {
    margin-bottom: 15px;
  }
}

.rules__container:last-of-type {
  margin: 0 auto;
  border-bottom: none;
}
