.endgame__button {
  display: block;
  width: 100%;
  max-width: 200px;
  height: 60px;
  margin: 0 auto 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 60px;
  text-align: center;
  color: var(--colorTextPrimary);
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid var(--colorTextPrimary);
  outline: none;
  padding: 0;
  transition: color .3s linear, border-color .3s linear;
}

.endgame__button:hover {
  cursor: pointer;
}
