.game-area__lives {
  position: relative;
  z-index: 201;
  width: 61px;
  height: 52px;
  background-image: url(../../../images/lives.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .game-area__lives {
    width: calc(46px + 15 * ((100vw - 400px) / 200));
  }
}

@media screen and (max-width: 400px) {
  .game-area__lives {
    width: 46px;
  }
}