.page_theme_dark {
  background-color: #080a0c;
  --colorTextPrimary: #fff;
  --colorTextSecondary: #931bf1;
  --colorTextTertiary: #ffb904;
  --colorBackgroundContent: #212932;
  --colorInactive: #989898;
  --colorVignette: #000;
}