.game-area__letter {
  display: none;
  font-family: 'Russo One', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 1;
  text-align: center;
  color: #fff;
}