.game-area__letter {
  display: none;
  font-family: 'Russo One', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 1;
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 600px) {
  .game-area__letter {
    font-size: calc(20px + 12 * ((100vw - 320px) / 280));
  }
}

@media screen and (max-width: 320px) {
  .game-area__letter {
    font-size: 20px;
  }
}
