.game-area__counter {
  font-family: 'Russo One', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .game-area__counter {
    font-size: calc(18px + 6 * ((100vw - 400px) / 200));
  }
}

@media screen and (max-width: 400px) {
  .game-area__counter {
    font-size: 18px;
  }
}
