.levels__main-heading {
  margin: 0 auto;
  margin-bottom: 157px;
  padding-top: 138px;
}

@media screen and (max-width: 600px) {
  .levels__main-heading {
    margin-bottom: calc(95px + 62 * ((100vw - 400px) / 200));
    padding-top: calc(116px + 22 * ((100vw - 400px) / 200));
  }
}

@media screen and (max-width: 400px) {
  .levels__main-heading {
    margin-bottom: 95px;
    padding-top: 116px;
  }
}
