.endgame__score {
  margin: 0 0 15px 15px;
  font-family: 'Russo One', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  color: #ffb904;
}