.endgame__score {
  font-family: 'Russo One', Arial, sans-serif;
  margin: 0 0 30px 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  color: var(--colorTextTertiary);
}