.rules__text {
  margin: 0 0 15px;
  font-family: 'PT Sans', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;
  text-align: justify;
  letter-spacing: 1px;
  color: var(--colorTextPrimary);
}

@media screen and (max-width: 600px) {
  .rules__text {
    font-size: calc(16px + 2 * ((100vw - 400px) / 200));
  }
}

@media screen and (max-width: 400px) {
  .rules__text {
    font-size: 16px;
  }
}