.secondary-heading {
  position: relative;
  z-index: 201;
  margin: 0 auto;
  margin-bottom: 40px;
  font-family: 'Russo One', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 1.2;
  text-align: center;
  color: #ffb904;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  .secondary-heading {
    font-size: calc(32px + 16 * ((100vw - 400px) / 200));
    margin-bottom: calc(30px + 10 * ((100vw - 400px) / 200));
  }
}

@media screen and (max-width: 400px) {
  .secondary-heading {
    font-size: 32px;
    margin-bottom: 30px;
  }
}