.secondary-heading {
  position: relative;
  z-index: 201;
  margin: 0 auto;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 1.2;
  text-align: center;
  color: var(--colorTextTertiary);
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  .secondary-heading {
    font-size: calc(32px + 16 * ((100vw - 400px) / 200));
  }
}

@media screen and (max-width: 400px) {
  .secondary-heading {
    font-size: 32px;
  }
}