.game-area__timer {
  display: none;
  position: absolute;
  z-index: 201;
  top: 0;
  left: 50%;
  transform: translateX(-53px);
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  color: #fff;
  transition: all .3s linear;
}

@media screen and (max-width: 600px) {
  .game-area__timer {
    font-size: calc(28px + 8 * ((100vw - 400px) / 200));
  }
}

@media screen and (max-width: 400px) {
  .game-area__timer {
    font-size: 28px;
    transform: translate(-46px);
  }
}
