.game-area__timer {
  display: none;
  position: absolute;
  z-index: 201;
  top: 0;
  left: 50%;
  transform: translateX(-53px);
  font-family: 'Russo One', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  color: #fff;
  transition: all .3s linear;
}

@media screen and (max-width: 600px) {
  .game-area__timer {
    font-size: calc(20px + 16 * ((100vw - 320px) / 280));
  }
}

@media screen and (max-width: 320px) {
  .game-area__timer {
    font-size: 20px;
    transform: translate(-35px);
  }
}
