.game-area__visual {
  display: grid;
  grid-template-columns: 1fr 256px 1fr;
  justify-items: end;
  width: 100%;
  margin: 0 0 13px;
}

@media screen and (max-width: 489px) {
  .game-area__visual {
    grid-template-columns: 1fr 230px 1fr;
  }
}

@media screen and (max-width: 320px) {
  .game-area__visual {
    grid-template-columns: 1fr 190px 1fr;
  }
}